.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }
  
  .sidebar {
    width: 20%;
    height: 100%;
  }
  
  .main {
    background-color: #c6d9f1;
    flex-grow: 1;
    height: 100vh;
    width: 80%;
  }

  @media only screen and (max-width: 768px) {

   .main{
    height: 200vh;
    width: 2000vh;
   }

    
  }
  
